.mt-footer{
    padding-top:50px;
    padding-bottom: 50px;
    &__logo{
        width: 150px;
        height: auto;
    }
    &__top{
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(102, 102, 102,.25);
        margin-bottom: 20px;
        justify-content: space-between;
    }
    &__menu{
        align-items: center;
        &--item{
            padding:0 12px ;
        }
    }
    &__bottom{
        justify-content: space-between;
    }
    &__social-icons{
        font-size: 22px;
        a{
            display: block;
                margin-left: 10px;
            color: $blue;
        }
    }
}
@media screen and (max-width: 991px){
    .mt-copyright{
        text-align: center;
    }
    .terms{
        display: inline-block;
    }
    .mt-footer__menu--item{
        padding:0 8px;
    }
    .mt-footer__social-icons{
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
}
@media screen and (max-width: 767px){
    .mt-footer__menu{
        flex-wrap: wrap;
        &--item{
            
        padding: 8px  15px;
        }
    }
}
@media screen and (max-width: 575px){
    .mt-footer__top,
    .mt-footer__menu
    {
        justify-content: center;
    }
    .mt-footer__menu{
        margin-top: 30px;
    }
    .mt-copyright{
        padding: 0 15px;
    }
}